@page "/Books"
@rendermode InteractiveServer
@inject BookService BookService;
@inject UserService UserService;

<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<style>
    .sort-th {
        cursor: pointer;
    }
    .fa {
        float: right;
    }    
</style>
<ErrorAlert ErrorState="errorState"></ErrorAlert>
<AuthorizeView>
    <Authorized>
        
        <div class="form-group mb-2">
            <input class="form-control" type="text" placeholder="@UserService.GetUILabel("bookListFormFilter")"
                   @bind="_filter"
                   @bind:event="oninput" />
        </div>
        @if (_bookUsers is null)
        {
            <p>
                @UserService.GetUILabel("loading")
            </p>
        }
        else if (!_bookUsers.Any())
        {
            <p>
                @UserService.GetUILabel("bookListNoBookNotice")
            </p>
            @* todo: add an "add books" button *@
        }
        else
        {

            <table class="table table-striped table-bordered table-hover">
                <thead class="thead-light">
                    <tr>
                        <th scope="col" class="sort-th" @onclick="@(() => OnSortTableClick("Id"))">
                            #
                            <span class="fa @(OnSetSortIcon("Id"))"></span>
                        </th>
                        <th scope="col" class="sort-th" @onclick="@(() => OnSortTableClick("Language"))">
                            @UserService.GetUILabel("bookListLanguageColumnHead")
                            <span class="fa @(OnSetSortIcon("Language"))"></span>
                        </th>
                        <th scope="col" class="sort-th text-center" @onclick="@(() => OnSortTableClick("ISCOMPLETE"))">
                            @UserService.GetUILabel("bookListCompletedColumnHead")
                            <span class="fa @(OnSetSortIcon("ISCOMPLETE"))"></span>
                        </th>
                        <th scope="col" class="sort-th" @onclick="@(() => OnSortTableClick("Title"))">
                            @UserService.GetUILabel("bookListTitleColumnHead")
                            <span class="fa @(OnSetSortIcon("Title"))"></span>
                        </th>
                        <th scope="col" class="sort-th text-center" @onclick="@(() => OnSortTableClick("PROGRESSPERCENT"))">
                            @UserService.GetUILabel("bookListProgressColumnHead")
                            <span class="fa @(OnSetSortIcon("PROGRESSPERCENT"))"></span>
                        </th>
                        <th scope="col" class="sort-th text-end" @onclick="@(() => OnSortTableClick("TOTALWORDCOUNT"))">
                            @UserService.GetUILabel("bookListTotalWordCountColumnHead")
                            <span class="fa @(OnSetSortIcon("TOTALWORDCOUNT"))"></span>
                        </th>
                        <th scope="col" class="sort-th text-end" @onclick="@(() => OnSortTableClick("TOTALKNOWNPERCENT"))">
                            @UserService.GetUILabel("bookListTotalKnownPercentColumnHead")
                            <span class="fa @(OnSetSortIcon("TOTALKNOWNPERCENT"))"></span>
                        </th>
                        <th scope="col" class="sort-th text-end" @onclick="@(() => OnSortTableClick("DISTINCTWORDCOUNT"))">
                            @UserService.GetUILabel("bookListDistinctWordCountColumnHead")
                            <span class="fa @(OnSetSortIcon("DISTINCTWORDCOUNT"))"></span>
                        </th>
                        <th scope="col" class="sort-th text-end" @onclick="@(() => OnSortTableClick("DISTINCTKNOWNPERCENT"))">
                            @UserService.GetUILabel("bookListDistinctKnownPercentColumnHead")
                            <span class="fa @(OnSetSortIcon("DISTINCTKNOWNPERCENT"))"></span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var bookUser in _bookUsers)
                    {
                        if (!OnIsVisibleInListCheck(bookUser))
                            continue;

                        <tr>
                            <td scope="row">@bookUser.Book.Id</td>
                            <td scope="row">@bookUser.LanguageUser.Language.Name</td>
                            <td scope="row" class="text-center">
                                @if (OnGetBookUserStat_bool(bookUser, AvailableBookUserStat.ISCOMPLETE))
                                {
                                    <span class="completedMarker">&#x2713;</span>
                                }
                            </td>
                            <td scope="row">
                                <p>
                                    @OnFormatTitle(bookUser.Book)
                                </p>
                                <p>
                                    <Button Color="ButtonColor.Primary"
                                            Type="ButtonType.Link"
                                            Size="Size.Small"
                                            To="@OnGetBookLinkRead(bookUser.Book)">
                                        Read
                                    </Button>
                                    <Button Color="ButtonColor.Secondary"
                                            Type="ButtonType.Link"
                                            Size="Size.Small"
                                            To="@OnGetBookLinkUpdate(bookUser.Book)">
                                        Update
                                    </Button>
                                    <Button Color="ButtonColor.Warning"
                                            Size="Size.Small"
                                            @onclick="((args) => OnClickRemove(args, bookUser.Book))">
                                        Remove
                                    </Button>
                                    
                                    
                                </p>
                            </td>
                            <td scope="row" class="text-center">@OnFormatProgress(bookUser.BookId)</td>
                            <td scope="row" class="text-end">@OnFormatCount(bookUser.BookId, AvailableBookUserStat.TOTALWORDCOUNT)</td>
                            <td scope="row" class="text-end">@OnFormatCount(bookUser.BookId, AvailableBookUserStat.TOTALKNOWNPERCENT)</td>
                            <td scope="row" class="text-end">@OnFormatCount(bookUser.BookId, AvailableBookUserStat.DISTINCTWORDCOUNT)</td>
                            <td scope="row" class="text-end">@OnFormatCount(bookUser.BookId, AvailableBookUserStat.DISTINCTKNOWNPERCENT)</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </Authorized>
    <NotAuthorized>
        <p>@UserService.GetUILabel("notLoggedIn")</p>
    </NotAuthorized>
</AuthorizeView>

@code {

    public ErrorState errorState = new ErrorState() { isError = false, errorMessage = "" };

    private List<BookUser>? _bookUsers;
    private List<BookUserStat>? _bookUserStats;

    private User _loggedInUser { get { return UserService.GetLoggedInUser(); } }

    #region sorting and filtering
    private string _filter;
    private bool _isSortedAscending;
    private string _activeSortColumn;
    Dictionary<string, Func<BookUser, object>> orderByFunctions =
        new Dictionary<string, Func<BookUser, object>>();
    #endregion







    protected override async Task OnInitializedAsync()
    {
        try
        {
            _bookUsers = BookService.BookUsersFetchWithoutStats((int)_loggedInUser.Id).ToList();
            _bookUserStats = BookService.BookUserStatsFetch((int)_loggedInUser.Id).ToList();
        }
        catch (Exception ex)
        {
            errorState.isError = true;
            errorState.errorMessage = UserService.GetUILabel("bookListInitializationError");
            StateHasChanged();
        }
    }
    protected override void OnInitialized()
    {
        try
        {
            orderByFunctions.Add("Language", (x => x.LanguageUser.Language.Name));
            orderByFunctions.Add("Id", (x => x.Id));
            orderByFunctions.Add("Title", (x => x.Book.Title));
            orderByFunctions.Add("PROGRESSPERCENT", (x => OnGetBookUserStat_int(x, AvailableBookUserStat.PROGRESSPERCENT)));
            orderByFunctions.Add("ISCOMPLETE", (x => OnGetBookUserStat_bool(x, AvailableBookUserStat.ISCOMPLETE)));
            orderByFunctions.Add("TOTALWORDCOUNT", (x => OnGetBookUserStat_int(x, AvailableBookUserStat.TOTALWORDCOUNT)));
            orderByFunctions.Add("TOTALKNOWNPERCENT", (x => OnGetBookUserStat_int(x, AvailableBookUserStat.TOTALKNOWNPERCENT)));
            orderByFunctions.Add("DISTINCTWORDCOUNT", (x => OnGetBookUserStat_int(x, AvailableBookUserStat.DISTINCTWORDCOUNT)));
            orderByFunctions.Add("DISTINCTKNOWNPERCENT", (x => OnGetBookUserStat_int(x, AvailableBookUserStat.DISTINCTKNOWNPERCENT)));
        }
        catch (Exception ex)
        {
            errorState.isError = true;
            errorState.errorMessage = UserService.GetUILabel("bookListInitializationError");
            StateHasChanged();
        }
    }
    private string OnFormatTitle(Book book)
    {
        try
        {
            int maxCharsInBookListTitle = 60;
            string title = book.Title;
            if (title.Length > maxCharsInBookListTitle)
            {
                title = title.Substring(0, maxCharsInBookListTitle) + "...";
            }
            return title;
        }
        catch (Exception ex)
        {
            errorState.isError = true;
            errorState.errorMessage = UserService.GetUILabel("bookListInitializationError");
            StateHasChanged();
            return string.Empty;
        }
    }
    private string OnGetBookLinkRead(Book book)
    {
        try
        {
            return $"/Book/{book.Id}/Read";
        }
        catch (Exception ex)
        {
            errorState.isError = true;
            errorState.errorMessage = UserService.GetUILabel("bookListInitializationError");
            StateHasChanged();
            return string.Empty;
        }
    }
    private string OnGetBookLinkUpdate(Book book)
    {
        try
        {
            return $"/Book/{book.Id}/Update";
        }
        catch (Exception ex)
        {
            errorState.isError = true;
            errorState.errorMessage = UserService.GetUILabel("bookListInitializationError");
            StateHasChanged();
            return string.Empty;
        }
    }
    private void OnClickRemove(EventArgs args, Book book)
    {
        try
        {
            throw new NotImplementedException("book removal not yet implemented");

        }
        catch (Exception ex)
        {
            errorState.isError = true;
            errorState.errorMessage = UserService.GetUILabel("bookListRemoveBookError");
            StateHasChanged();
        }

    }
    private bool OnIsVisibleInListCheck(BookUser bookUser)
    {
        try
        {
            if (string.IsNullOrEmpty(_filter))
                return true;
            if (bookUser.LanguageUser.Language.Name.Contains(_filter, StringComparison.OrdinalIgnoreCase))
                return true;
            if (bookUser.Book.Title.Contains(_filter, StringComparison.OrdinalIgnoreCase))
                return true;
            return false;
        }
        catch (Exception ex)
        {
            errorState.isError = true;
            errorState.errorMessage = UserService.GetUILabel("bookListIsVisibleError");
            StateHasChanged();
            return false;
        }
    }
    private void OnSortTableClick(string columnName)
    {
        try
        {
            if (_bookUsers is null) return;
            if (!orderByFunctions.ContainsKey(columnName)) return;

            if (columnName != _activeSortColumn)
            {
                _bookUsers = _bookUsers.OrderBy(orderByFunctions[columnName]).ToList();
                _isSortedAscending = true;
                _activeSortColumn = columnName;
            }
            else
            {
                if (_isSortedAscending)
                {
                    _bookUsers = _bookUsers.OrderByDescending(orderByFunctions[columnName]).ToList();
                }
                else
                {
                    _bookUsers = _bookUsers.OrderBy(orderByFunctions[columnName]).ToList();
                }
                _isSortedAscending = !_isSortedAscending;
            }
        }
        catch (Exception ex)
        {
            errorState.isError = true;
            errorState.errorMessage = UserService.GetUILabel("bookListSortTableError");
            StateHasChanged();
        }

    }
    private string OnSetSortIcon(string columnName)
    {
        try
        {
            if (_activeSortColumn != columnName)
            {
                return string.Empty;
            }
            if (_isSortedAscending)
            {
                return "fa-sort-up";
            }
            else
            {
                return "fa-sort-down";
            }
        }
        catch (Exception ex)
        {
            errorState.isError = true;
            errorState.errorMessage = UserService.GetUILabel("bookListInitializationError");
            StateHasChanged();
            return string.Empty;
        }
    }
    private string OnFormatCount(int bookId, AvailableBookUserStat key)
    {
        try
        {
            var dbStat = _bookUserStats.Where(x => x.BookId == bookId && x.Key == key)
                .FirstOrDefault();
            if (dbStat is null) return "0";

            int outValInt = 0;
            if (int.TryParse(dbStat.Value, out outValInt) == false) return "0";
            return outValInt.ToString("N0");
        }
        catch (Exception ex)
        {
            errorState.isError = true;
            errorState.errorMessage = UserService.GetUILabel("bookListInitializationError");
            StateHasChanged();
            return string.Empty;
        }
    }
    private string OnFormatProgress(int bookId)
    {
        try
        {
            var dbStat = _bookUserStats.Where(x => x.BookId == bookId && x.Key == AvailableBookUserStat.PROGRESS)
                .FirstOrDefault();
            if (dbStat is null) return "0 / 0";

            return dbStat.Value;
        }
        catch (Exception ex)
        {
            errorState.isError = true;
            errorState.errorMessage = UserService.GetUILabel("bookListInitializationError");
            StateHasChanged();
            return string.Empty;
        }
    }
    private int OnGetBookUserStat_int(BookUser bookUser, AvailableBookUserStat stat)
    {
        try
        {
            var dbStat = _bookUserStats.Where(x => x.BookId == bookUser.BookId && x.Key == stat)
                .FirstOrDefault();
            if (dbStat is null) return 0;
            int outVal = 0;
            if (int.TryParse(dbStat.Value, out outVal) == false) return 0;
            return outVal;
        }
        catch (Exception ex)
        {
            errorState.isError = true;
            errorState.errorMessage = UserService.GetUILabel("bookListInitializationError");
            StateHasChanged();
            return -1;
        }
    }
    private bool OnGetBookUserStat_bool(BookUser bookUser, AvailableBookUserStat stat)
    {
        try
        {
            var dbStat = _bookUserStats.Where(x => x.BookId == bookUser.BookId && x.Key == stat)
                .FirstOrDefault();
            if (dbStat is null) return false;
            bool outVal = false;
            if (bool.TryParse(dbStat.Value, out outVal) == false) return false;
            return outVal;
        }
        catch (Exception ex)
        {
            errorState.isError = true;
            errorState.errorMessage = UserService.GetUILabel("bookListInitializationError");
            StateHasChanged();
            return false;
        }
    }
}
