@page "/ConjugationTable"
@rendermode InteractiveServer
@inject LoginService UserService;
@inject IDbContextFactory<IdiomaticaContext> DbContextFactory;

@* This assumes spanish. will need to change to support other languages *@

<style>
    .piecePronoun {display:none;}
    .pieceCore {color:black;}
    .pieceRegular {color: #00cc00; font-weight:900;}
    .pieceIrregular {color: #cc0000; font-weight:900}
    .clubbedRow {background-color: #dedede;}
    .conjugationTranslation {display:none;}
    
</style>


<ErrorAlert ErrorState="errorState"></ErrorAlert>

@if (conjugationTable is not null && ShouldDisplay)
{
    <div class="m2">
        <div class="border p-2">
            <h3>Participles of @conjugationTable.Infinitive</h3>
            <table class="table">
        
                <tbody>
                    <tr>
                        <th scope="row">Gerund:</th>
                        <td>
                            @if (@conjugationTable.Gerund is not null)
                            {
                                <span class="m-0 p-0 pieceCore">@conjugationTable.Gerund</span>
                            }
                            else
                            {
                                <span class="m-0 p-0 pieceCore">&mdash;</span>
                            }

                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Past participle:</th>
                        <td>
                            @if (@conjugationTable.PastParticiple is not null)
                            {
                                <span class="m-0 p-0 pieceCore">@conjugationTable.PastParticiple</span>
                            }
                            else
                            {
                                <span class="m-0 p-0 pieceCore">&mdash;</span>
                            }
                    
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>
        <div class="border p-2">
            <h3>Indicative conjugations of @conjugationTable.Infinitive</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th scope="col">Present</th>
                        <th scope="col">Preterite</th>
                        <th scope="col">Imperfect</th>
                        <th scope="col">Conditional</th>
                        <th scope="col">Future</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">yo</th>
                        <td><Conjugation VerbConjugation="@conjugationTable.PresentYo" /></td>
                        <td><Conjugation VerbConjugation="@conjugationTable.PreteriteYo" /></td>
                        <td><Conjugation VerbConjugation="@conjugationTable.ImperfectYo" /></td>
                        <td><Conjugation VerbConjugation="@conjugationTable.ConditionalYo" /></td>
                        <td><Conjugation VerbConjugation="@conjugationTable.FutureYo" /></td>
                    </tr>
                    <tr>
                        <th scope="row">tú</th>
                        <td><Conjugation VerbConjugation="@conjugationTable.PresentTu" /></td>
                        <td><Conjugation VerbConjugation="@conjugationTable.PreteriteTu" /></td>
                        <td><Conjugation VerbConjugation="@conjugationTable.ImperfectTu" /></td>
                        <td><Conjugation VerbConjugation="@conjugationTable.ConditionalTu" /></td>
                        <td><Conjugation VerbConjugation="@conjugationTable.FutureTu" /></td>
                    </tr>
            
                    <tr>
                        <th scope="row">él/ella/usted</th>
                        <td><Conjugation VerbConjugation="@conjugationTable.PresentEl" /></td>
                        <td><Conjugation VerbConjugation="@conjugationTable.PreteriteEl" /></td>
                        <td><Conjugation VerbConjugation="@conjugationTable.ImperfectEl" /></td>
                        <td><Conjugation VerbConjugation="@conjugationTable.ConditionalEl" /></td>
                        <td><Conjugation VerbConjugation="@conjugationTable.FutureEl" /></td>
                    </tr>
            
            
                    <tr>
                        <th scope="row">nosotros</th>
                        <td><Conjugation VerbConjugation="@conjugationTable.PresentNosotros" /></td>
                        <td><Conjugation VerbConjugation="@conjugationTable.PreteriteNosotros" /></td>
                        <td><Conjugation VerbConjugation="@conjugationTable.ImperfectNosotros" /></td>
                        <td><Conjugation VerbConjugation="@conjugationTable.ConditionalNosotros" /></td>
                        <td><Conjugation VerbConjugation="@conjugationTable.FutureNosotros" /></td>
                    </tr>
                    <tr>
                        <th scope="row">vosotros</th>
                        <td><Conjugation VerbConjugation="@conjugationTable.PresentVosotros" /></td>
                        <td><Conjugation VerbConjugation="@conjugationTable.PreteriteVosotros" /></td>
                        <td><Conjugation VerbConjugation="@conjugationTable.ImperfectVosotros" /></td>
                        <td><Conjugation VerbConjugation="@conjugationTable.ConditionalVosotros" /></td>
                        <td><Conjugation VerbConjugation="@conjugationTable.FutureVosotros" /></td>
                    </tr>
                    <tr>
                        <th scope="row">ellos/ellas/ustedes</th>
                        <td><Conjugation VerbConjugation="@conjugationTable.PresentEllos" /></td>
                        <td><Conjugation VerbConjugation="@conjugationTable.PreteriteEllos" /></td>
                        <td><Conjugation VerbConjugation="@conjugationTable.ImperfectEllos" /></td>
                        <td><Conjugation VerbConjugation="@conjugationTable.ConditionalEllos" /></td>
                        <td><Conjugation VerbConjugation="@conjugationTable.FutureEllos" /></td>
                    </tr>
            
            
                </tbody>

            </table>
        </div>
        <div class="border p-2">
            <h3>Subjunctive conjugations of @conjugationTable.Infinitive</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th scope="col">Subjunctive Present</th>
                        <th scope="col">Subjunctive Imperfect</th>
                        <th scope="col">Subjunctive Future</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">yo</th>
                        <td><Conjugation VerbConjugation="@conjugationTable.SubjunctivePresentYo" /></td>
                        <td><Conjugation VerbConjugation="@conjugationTable.SubjunctiveImperfectYo" /></td>
                        <td><Conjugation VerbConjugation="@conjugationTable.SubjunctiveFutureYo" /></td>
                    </tr>
                    <tr>
                        <th scope="row">tú</th>
                        <td><Conjugation VerbConjugation="@conjugationTable.SubjunctivePresentTu" /></td>
                        <td><Conjugation VerbConjugation="@conjugationTable.SubjunctiveImperfectTu" /></td>
                        <td><Conjugation VerbConjugation="@conjugationTable.SubjunctiveFutureTu" /></td>
                    </tr>
                    <tr>
                        <th scope="row">él/ella/usted</th>
                        <td><Conjugation VerbConjugation="@conjugationTable.SubjunctivePresentEl" /></td>
                        <td><Conjugation VerbConjugation="@conjugationTable.SubjunctiveImperfectEl" /></td>
                        <td><Conjugation VerbConjugation="@conjugationTable.SubjunctiveFutureEl" /></td>
                    </tr>
            
            
                    <tr>
                        <th scope="row">nosotros</th>
                        <td><Conjugation VerbConjugation="@conjugationTable.SubjunctivePresentNosotros" /></td>
                        <td><Conjugation VerbConjugation="@conjugationTable.SubjunctiveImperfectNosotros" /></td>
                        <td><Conjugation VerbConjugation="@conjugationTable.SubjunctiveFutureNosotros" /></td>
                    </tr>
                    <tr>
                        <th scope="row">vosotros</th>
                        <td><Conjugation VerbConjugation="@conjugationTable.SubjunctivePresentVosotros" /></td>
                        <td><Conjugation VerbConjugation="@conjugationTable.SubjunctiveImperfectVosotros" /></td>
                        <td><Conjugation VerbConjugation="@conjugationTable.SubjunctiveFutureVosotros" /></td>
                    </tr>
            
            
                    <tr>
                        <th scope="row">ellos/ellas/ustedes</th>
                        <td><Conjugation VerbConjugation="@conjugationTable.SubjunctivePresentEllos" /></td>
                        <td><Conjugation VerbConjugation="@conjugationTable.SubjunctiveImperfectEllos" /></td>
                        <td><Conjugation VerbConjugation="@conjugationTable.SubjunctiveFutureEllos" /></td>
                    </tr>
            
                </tbody>

            </table>
        </div>
        <div class="border p-2">
            <h3>Imperative conjugations of @conjugationTable.Infinitive</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th scope="col">Affirmative Imperative</th>
                        <th scope="col">Negative Imperative</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">tú</th>
                        <td><Conjugation VerbConjugation="@conjugationTable.AffirmativeImperativeTu" /></td>
                        <td><Conjugation VerbConjugation="@conjugationTable.NegativeImperativeTu" /></td>
                    </tr>
                    <tr>
                        <th scope="row">usted</th>
                        <td><Conjugation VerbConjugation="@conjugationTable.AffirmativeImperativeUsted" /></td>
                        <td><Conjugation VerbConjugation="@conjugationTable.NegativeImperativeUsted" /></td>
                    </tr>
                    <tr>
                        <th scope="row">nosotros</th>
                        <td><Conjugation VerbConjugation="@conjugationTable.AffirmativeImperativeNosotros" /></td>
                        <td><Conjugation VerbConjugation="@conjugationTable.NegativeImperativeNosotros" /></td>
                    </tr>
                    <tr>
                        <th scope="row">vosotros</th>
                        <td><Conjugation VerbConjugation="@conjugationTable.AffirmativeImperativeVosotros" /></td>
                        <td><Conjugation VerbConjugation="@conjugationTable.NegativeImperativeVosotros" /></td>
                    </tr>
                    <tr>
                        <th scope="row">ustedes</th>
                        <td><Conjugation VerbConjugation="@conjugationTable.AffirmativeImperativeUstedes" /></td>
                        <td><Conjugation VerbConjugation="@conjugationTable.NegativeImperativeUstedes" /></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
}

@code {

    [Parameter] public bool ShouldDisplay { get; set; } = false;
    Logic.Conjugator.Spanish.SpanishConjugationTable? conjugationTable;

    public ErrorState errorState = new ErrorState() { isError = false, errorMessage = "" };


    public async Task ResetConjugationAsync(Verb verb)
    {
        try
        {
            if (string.IsNullOrEmpty(verb.Conjugator))
            {
                ErrorHandler.LogAndThrow();
                return;
            }
            var context = await DbContextFactory.CreateDbContextAsync();
            string conjugatorName = (string)verb.Conjugator;
            var conjugator = Logic.Conjugator.Factory.Get(conjugatorName, null, verb, null);
            if (conjugator is null)
            {
                ErrorHandler.LogAndThrow();
                return;
            }
            var conjugations = conjugator.Conjugate();
            conjugationTable = new(verb, conjugations);
        }
        catch (IdiomaticaException ex)
        {
            errorState.isError = true;
            errorState.errorMessage = UserService.GetUILabel("readInitializationError");
            errorState.code = ex.code;
            errorState.memberName = ex.memberName;
            errorState.sourceFilePath = ex.sourceFilePath;
            errorState.sourceLineNumber = ex.sourceLineNumber;
            StateHasChanged();
            return;
        }
        catch (Exception ex)
        {
            errorState.isError = true;
            errorState.errorMessage = UserService.GetUILabel("readInitializationError");
            StateHasChanged();
            return;
        }
    }
    
}
