@page "/ParagraphView"
@rendermode InteractiveServer
@inject UserService UserService;
@inject IDbContextFactory<IdiomaticaContext> DbContextFactory;
@using Logic.Services.API

@if(_isDataInit)
{
    <div class="row  g-2">
        <div class="col-1">
            <div class="">
                <Button class="btn-sm" Color="ButtonColor.Primary"
                        Outline="true" TooltipTitle="Translate paragraph"
                        @onclick="@(e => OnPpTranslateClick())">
                    &#182;
                </Button>
            </div>
        </div>
        <div class="col-10">
            <div>
                <p class="readParagraph">
                    @foreach (var sentence in _sentences)
                    {
                        @foreach (var token in sentence.Tokens)
                        {
                            <span class="readToken @GetTokenClass(token)"
                                  data-toggle="tooltip"
                                  data-placement="top"
                                  title="@GetTokenTranslation(token)"
                                  @onclick="@(e => OnTokenClick(@token))">
                                @token.Display
                            </span>
                        }
                    }
                </p>
            </div>
        </div>
        <div class="col-1">
            <div class="">
                <Button class="btn-sm" Color="ButtonColor.Primary"
                        Outline="true" TooltipTitle="Translate paragraph"
                        @onclick="@(e => OnPpTranslateClick())">
                    &#182;
                </Button>
            </div>
        </div>
    </div>
}
else
{
    <Button Color="ButtonColor.Primary"
        Size="Size.Small" Loading="true" LoadingText="@UserService.GetUILabel("loading")" />
}
@code {
    [Parameter]
    public Paragraph ParagraphAndChildren { get; set; } = new Paragraph();
    [Parameter]
    public EventCallback<Token> OnShowWordModal { get; set; }
    [Parameter]
    public EventCallback<Paragraph> OnShowPpModal { get; set; }
    [Parameter]
    public ReadDataPacket ReadDataPacket { get; set; } = new();

    private bool _isDataInit = false;
    private bool _isLoadingLoggedInUser = false;
    private User? _loggedInUser = null;
    private List<Sentence> _sentences = new List<Sentence>();

    private async Task InitData()
    {
        if(ParagraphAndChildren.UniqueKey == null)
        {
            ErrorHandler.LogAndThrow(2210);
            return;
        }
        var context = await DbContextFactory.CreateDbContextAsync();

        if (ParagraphAndChildren.Sentences is null) return;

        _sentences = ParagraphAndChildren.Sentences.OrderBy(s => s.Ordinal).ToList();
        foreach( var sentence in _sentences)
        {
            if (sentence.Tokens is not null && sentence.Tokens.Count > 0) continue;
            sentence.Tokens = await GetSentenceTokens(sentence);
        }
        _isDataInit = true;
    }
    protected override async Task OnInitializedAsync()
    {
        try
        {
            if (_isDataInit == false) await InitData();
        }
        catch (Exception ex)
        {
            throw;
        }
    }

    private void OnTokenClick(Token token)
    {
        OnShowWordModal.InvokeAsync(token);
    }
    private void OnPpTranslateClick()
    {
        OnShowPpModal.InvokeAsync(ParagraphAndChildren);
    }
    public string GetTokenClass(Token token)
    {
        if (token.Word is null || token.Word.TextLowerCase is null) return "statusUNKNOWN";
        if (ReadDataPacket is null || ReadDataPacket.LanguageUser is null ||
            ReadDataPacket.LanguageUser.UniqueKey is null) return "statusUNKNOWN";

        var wordUser = token.Word.WordUsers
            .Where(x => x.LanguageUserKey == (Guid)ReadDataPacket.LanguageUser.UniqueKey)
            .FirstOrDefault();
        if (wordUser is null) return "statusUNKNOWN";
        return $"status{wordUser.Status}";
    }
    private string GetTokenTranslation(Token token)
    {
        if (token.Word is null || token.Word.TextLowerCase is null) return "";

        List<string> translationStrings = [];

        // first get the override translations, if there is one

        if (ReadDataPacket is not null && ReadDataPacket.LanguageUser is not null &&
            ReadDataPacket.LanguageUser.UniqueKey is not null)
        {
            var wordUser = token.Word.WordUsers
                .Where(x => x.LanguageUserKey == (Guid)ReadDataPacket.LanguageUser.UniqueKey)
                .FirstOrDefault();

            if (wordUser is not null && !string.IsNullOrEmpty(wordUser.Translation))
            {
                translationStrings.Add(wordUser.Translation);
            }
        }

        // next get any default translations
        var defaultTranslations = token.Word.WordTranslations
            .OrderBy(x => x.Ordinal)
            .ToList();
        foreach (var t in defaultTranslations)
        {
            if (t.Translation is null) continue;
            translationStrings.Add(t.Translation);
        }

        return string.Join(Environment.NewLine, translationStrings);

    }
    private async Task<List<Token>> GetSentenceTokens(Sentence sentence)
    {
        if (sentence.UniqueKey is null)
        {
            ErrorHandler.LogAndThrow(2230);
            return new List<Token>();
        }
        

        var context = DbContextFactory.CreateDbContext();
        sentence.Tokens = await TokenApi.TokensAndWordsReadBySentenceIdAsync(context, (Guid)sentence.UniqueKey);
        return sentence.Tokens;
        
    }
    
}
